<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712778556605-1uak1p5qdaqkvokamk88i1898s0rdm5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712778556605-1uak1p5qdaqkvokamk88i1898s0rdm5n</string>
	<key>API_KEY</key>
	<string>AIzaSyCL9RN5jUnMjwLWoFvsURonKp4xOHxDXNA</string>
	<key>GCM_SENDER_ID</key>
	<string>712778556605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidruvinskiy.InstaKids</string>
	<key>PROJECT_ID</key>
	<string>instakids-3fa8f</string>
	<key>STORAGE_BUCKET</key>
	<string>instakids-3fa8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712778556605:ios:2996ff12a40df3e92b03d4</string>
	<key>DATABASE_URL</key>
	<string>https://instakids-3fa8f.firebaseio.com</string>
</dict>
</plist>